body {
  font-family: "PTSans";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 12px;
  color: #000000;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 14px;
}

header {
  outline: 1px solid green;
  min-width: 768px;
  max-width: 1200px;
  min-height: 70px;
  margin-bottom: 25px;
}

.clearfix::after {
  content: "";
  display: table;
  clear:both;
}

.container {
  outline: 1px solid blue;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  width: 140px;
  min-height: 70px;
  margin-right: 10px;
  float: left;
}

.main-navigation {
  width: 640px;
  min-height: 70px;
  float: left;
  margin-right: 10px;
}

.user-block {
  width: 140px;
  float: right;
  min-height: 70px;
}

.page-title {
  min-height: 40px;
  float:left;
  width:100%;
  outline: 1px dashed black;
}

.breadcrumb {
  min-height: 20px;
  float:left;
  width:100%;
  outline: 1px dashed black;
  margin-bottom: 50px;
}

.column-left {
  min-height: 600px;
  float:left;
  width:240px;
  outline: 2px solid #f3fc07;
}

.column-right {
  min-height: 600px;
  float:right;
  width:720px;
  outline: 2px solid #f3fc07;
}

.item-block {
  width: 220px;
  min-height: 285px;
  float: left;
  margin: 10px 10px;
  outline: 2px solid #fc07bf;
}

.pagination {
  outline: 2px solid #fc07bf;
  float: left;
  margin-left: 250px;
  min-height: 40px;
}

footer {
  outline: 1px solid green;
  min-width: 768px;
  max-width: 1200px;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 188px;
}

.contact {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
  margin-top: 57px;
}

.social-buttons {
  float: left;
  width: 180px;
  min-height: 90px;
  margin-top: 57px;
}

.copyright {
  float: right;
  width: 180px;
  min-height: 90px;
  margin-top: 57px;
}

.gallery {
  width: 460px;
  float: left;
  min-height: 670px;
}

.main-img {
  width: 460px;
  height: 500px;
  float: left;
  margin-bottom: 20px;
  outline: 1px dashed black;
}

.preview {
  width: 140px;
  height: 147px;
  float: left;
  outline: 1px dashed black;
  margin-right: 20px;
}

.preview:last-child {
  margin-right: 0;
  float:right;
}

.description {
  float: right;
  min-height: 540px;
  width: 400px;
  outline: 1px dashed black;
}
